body {
    font-family: Arial, sans-serif;
    padding: 0;
    align-items: center;
    background-color: #bdbbbb;
}

header {
    position: relative;
    text-align: center;
    color: #2b2a2a;
}


nav {
    background-color: #818181;
    position: sticky;
    top: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 5px;
    padding: 10px 0;
}

nav a {
    color: #e0e0e0;
    text-decoration: none;
    padding: 8px 16px;
}

nav a:hover {
    background-color: #919191;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: #050505;
}

.photo img {
    padding: 10px 0;
    width: 250px;
    height: 320px;
    border-radius: 100%;
}


.text {
    padding: 40px 50px;
    color: rgb(43, 42, 42);
}

.about-me {
    padding: 15px 50px;
    color: rgb(43, 42, 42);
    background-color: #e0e0e0;
    box-shadow: 2px 2px 5px #00000080;
}

.projects {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 10px;
}

.image-button {
    display: inline-flex;
    margin: 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.image-button img {
    width: 200px; 
    height: 150px;
}

.contact {
    text-align: center;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 15px 50px;
    box-shadow: 2px 2px 5px #00000080;
    background-color: #e0e0e0;
    border-radius: 5px;
}

.contact-icon {
    text-align: center;
    justify-content: center;
    display: flex;
}

.form {
    margin: 20px auto;
    padding: 50px;
    box-shadow: 2px 2px 5px #00000080;
    background-color: #e0e0e0;
    border-radius: 5px;
}


label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #696969;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #919191;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
}

.clock {
    position: fixed ;
    top: 50px;
    right: 30px;
    color: #050505;
}

iframe {
   text-align: center;
   justify-content: center;
   display: flex;
   padding: 0px 8px;
   border-radius: 12px;

}

footer {
    background-color: #818181;
    color: #f0f8ff;
    text-align: center;
    padding: 1px;
}

[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
